[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #006bb6;
  --md-primary-fg-color--light: #006bb6;
  --md-accent-fg-color:         #006bb6;
  --md-accent-fg-color--light:  #006bb6;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #006bb6;
  --md-primary-fg-color--dark: #006bb6;
  --md-accent-fg-color:         #006bb6;
  --md-accent-fg-color--light:  #006bb6;
}
