site_name: EDS-NLP

repo_url: https://github.com/aphp/edsnlp
repo_name: aphp/edsnlp

# copyright: Copyright &copy; 2022 – Assistance Publique - Hôpitaux de Paris

# extra:
#   social:
#     - icon: fontawesome/brands/github
#       link: https://github.com/aphp

theme:
  language: en
  name: material
  custom_dir: docs/assets/overrides
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-7
        name: Switch to light mode

  # logo: assets/logo/edsnlp.svg
  favicon: assets/logo/edsnlp.svg
  features:
    - navigation.tracking
    - navigation.instant
    - navigation.indexes
    - navigation.prune
    - navigation.top
    - navigation.footer
    - content.code.annotate
    - content.code.copy
    - announce.dismiss

nav:
  - index.md
  - Demo: https://aphp.github.io/edsnlp/demo" target="_blank
  - Tutorials:
      - Overview: tutorials/index.md
      - tutorials/spacy101.md
      - tutorials/matching-a-terminology.md
      - tutorials/qualifying-entities.md
      - tutorials/detecting-dates.md
      - tutorials/multiple-texts.md
      - tutorials/reason.md
      - tutorials/endlines.md
      - tutorials/aggregating-results.md
      - advanced-tutorials/fastapi.md
      - tutorials/training.md
      - tutorials/make-a-training-script.md
      - tutorials/visualization.md
  - Pipes:
      - Overview: pipes/index.md
      - Core Pipelines:
          - pipes/core/index.md
          - pipes/core/normalizer.md
          - pipes/core/sentences.md
          - pipes/core/matcher.md
          - pipes/core/terminology.md
          - pipes/core/contextual-matcher.md
          - pipes/core/endlines.md
      - Qualifiers:
          - pipes/qualifiers/index.md
          - pipes/qualifiers/negation.md
          - pipes/qualifiers/family.md
          - pipes/qualifiers/hypothesis.md
          - pipes/qualifiers/reported-speech.md
          - pipes/qualifiers/history.md
      - Miscellaneous:
          - pipes/misc/index.md
          - pipes/misc/dates.md
          - pipes/misc/quantities.md
          - pipes/misc/consultation-dates.md
          - pipes/misc/sections.md
          - pipes/misc/reason.md
          - pipes/misc/tables.md
          - pipes/misc/split.md
      - Named Entity Recognition:
          - Overview: pipes/ner/index.md
          - Scores:
            - pipes/ner/scores/index.md
            - pipes/ner/scores/charlson.md
            - pipes/ner/scores/emergency-ccmu.md
            - pipes/ner/scores/emergency-gemsa.md
            - pipes/ner/scores/emergency-priority.md
            - pipes/ner/scores/sofa.md
            - pipes/ner/scores/elston-ellis.md
          - Disorders:
            - pipes/ner/disorders/index.md
            - pipes/ner/disorders/aids.md
            - pipes/ner/disorders/ckd.md
            - pipes/ner/disorders/copd.md
            - pipes/ner/disorders/cerebrovascular-accident.md
            - pipes/ner/disorders/congestive-heart-failure.md
            - pipes/ner/disorders/connective-tissue-disease.md
            - pipes/ner/disorders/dementia.md
            - pipes/ner/disorders/diabetes.md
            - pipes/ner/disorders/hemiplegia.md
            - pipes/ner/disorders/leukemia.md
            - pipes/ner/disorders/liver-disease.md
            - pipes/ner/disorders/lymphoma.md
            - pipes/ner/disorders/myocardial-infarction.md
            - pipes/ner/disorders/peptic-ulcer-disease.md
            - pipes/ner/disorders/peripheral-vascular-disease.md
            - pipes/ner/disorders/solid-tumor.md
            - pipes/ner/covid.md
          - Behaviors:
            - pipes/ner/behaviors/index.md
            - pipes/ner/behaviors/alcohol.md
            - pipes/ner/behaviors/tobacco.md
          - pipes/ner/adicap.md
          - pipes/ner/tnm.md
          - pipes/ner/umls.md
          - pipes/ner/cim10.md
          - pipes/ner/drugs.md
          - pipes/ner/suicide_attempt.md

      - Trainable components:
          - pipes/trainable/index.md
          - 'Transformer': pipes/trainable/embeddings/transformer.md
          - 'Text CNN': pipes/trainable/embeddings/text_cnn.md
          - 'Span Pooler': pipes/trainable/embeddings/span_pooler.md
          - 'NER': pipes/trainable/ner.md
          - 'Span Classifier': pipes/trainable/span-classifier.md
          - 'Span Linker': pipes/trainable/span-linker.md
  - tokenizers.md
  - Data Connectors:
      - data/index.md
      - data/standoff.md
      - data/json.md
      - data/parquet.md
      - data/pandas.md
      - data/polars.md
      - data/spark.md
      - data/converters.md
  - Concepts:
      - concepts/pipeline.md
      - concepts/torch-component.md
      - concepts/inference.md
  - Utilities:
      - utilities/index.md
      - utilities/tests/blocs.md
      - utilities/tests/examples.md
      - utilities/matchers.md
  - Code Reference: reference/
  - contributing.md
  - changelog.md

extra:
  version:
    provider: mike
    default: latest
#   Just uncomment the following lines to enable i18n
#   alternate:
#     - name: English
#       link: /en/
#       lang: en
#     - name: Français
#       link: /fr/
#       lang: fr

extra_css:
  - assets/stylesheets/extra.css
  - assets/stylesheets/cards.css
  - assets/termynal/termynal.css

extra_javascript:
  - https://cdn.jsdelivr.net/npm/vega@5
  - https://cdn.jsdelivr.net/npm/vega-lite@5
  - https://cdn.jsdelivr.net/npm/vega-embed@6
  - assets/termynal/termynal.js

watch:
  - contributing.md
  - changelog.md
  - edsnlp

hooks:
    - docs/scripts/plugin.py

plugins:
  - redirects:
      redirect_maps:
        'pipes/trainable/span-qualifier.md': 'pipes/trainable/span-classifier.md'
  - search
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
          remove_comments: true
      cache_safe: true
  - autorefs:
      priority:
        - .*
        - reference
  - mkdocstrings:
      enable_inventory: true
      custom_templates: docs/assets/templates
      handlers:
        python:
          options:
            extensions:
              - docs/scripts/griffe_ext.py:EDSNLPDocstrings
            docstring_style: numpy
            docstring_section_style: spacy
            heading_level: 2
            members_order: source
            show_root_toc_entry: false
            show_signature: false
            merge_init_into_class: true
  - bibtex:
      bibtex_file: "docs/references.bib"
# Just uncomment the following lines to enable i18n
# and start creating .fr.md and .en.md files.
#  - i18n:
#      default_language: en
#      docs_structure: suffix
#      languages:
#        en:
#          name: English
#          build: true
  - mike

markdown_extensions:
  - pymdownx.highlight
  - admonition
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - footnotes
  - md_in_html
  - attr_list
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - docs.scripts.cards

validation:
  absolute_links: ignore
  unrecognized_links: ignore
