/* Clickable code */

.md-typeset code a:not(.md-annotation__index) {
    border-bottom: 1px dashed var(--md-typeset-a-color);
}

a.clickable-discrete-link {
    color: inherit !important;
    border-bottom: 1px dashed var(--md-default-fg-color--lighter) !important;
}

.sourced-heading {
    display: flex;
    flex-direction: row;
}

.sourced-heading-spacer {
    flex: 1;
}

.sourced-heading > a {
    font-size: 1.25rem;
    align-content: center;
}
