<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting</title>
  <noscript>
    <meta http-equiv="refresh" content="1; url=../../../../../v0.10.2/assets/templates/python/material/docstring.html" />
  </noscript>
  <script>
    window.location.replace("../../../../../v0.10.2/assets/templates/python/material/docstring.html" + window.location.hash);
  </script>
</head>
<body>
  Redirecting to <a href="../../../../../v0.10.2/assets/templates/python/material/docstring.html">../../../../../v0.10.2/assets/templates/python/material/docstring.html</a>...
</body>
</html>