name: Documentation

on:
  workflow_dispatch:
  push:
    branches: [ master, dev, main ]

env:
  UV_TORCH_BACKEND: "auto"
  UV_SYSTEM_PYTHON: 1
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  Documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv pip install . --group docs

      - name: Set up Git
        run: |
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@users.noreply.github.com

      - name: Build documentation
        run: |
          git fetch origin gh-pages
          mike delete $BRANCH_NAME
          mike deploy --push $BRANCH_NAME
