name: Tests and Linting

on:
  pull_request:
  push:
    branches: [master]

jobs:
  Linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Set PY variable
      run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pre-commit
        key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Install pre-commit
      run: |
        pip install pre-commit
        pre-commit install
    - name: Run pre-commit
      run: SKIP=no-commit-to-branch pre-commit run --all-files

  Pytest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        scripts/install.sh
        pip install pyspark
    - name: Test with Pytest
      run: |
        python -m pytest --cov edsnlp --junitxml=coverage.xml --html=report.html --self-contained-html
    - uses: codecov/codecov-action@v2

  Installation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Install library
      run: |
        pip install .
